:root {
  --half:50%;
  --quater:25%;
}
.events {
  display: grid;
  justify-content: space-around;;
  width:var(--half);
  grid-template-columns: auto auto auto;
  margin-left: var(--quater);
  margin-right:var(--quater);
}
